body {
    background-color: gray;
    overflow: hidden
}


.div-box-to-left {
    background-color: white;
    width: 500px;
    height: 700px;
    position: absolute;
    bottom: 0px;
    border-radius: 2%;
    z-index: 0;

}

.parent-div-box {
    background-color: white;
    width: 190vh;
    height: 600px;
    margin-top: 150px;
    margin-left: 50px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

.div-box-to-right {
    background-color: rgb(145, 145, 145);
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 0px;
    border-radius: 2%;
    margin-left: 600px;
    margin-top: 90px;
    opacity: 0.8;
    z-index: 1;
}

#admin {
    height: 20px;
    margin-left: 1600px;
    display: flex;
}



.study {
    color: white;
    margin: auto;
    position: relative;
    bottom: 0px;
    top: 20px;
    left: 50px;
}

.groups {
    color: white;
    margin: auto;
    position: relative;
    bottom: 0px;
    top: 20px;
    left: 50px;
}

.student {
    color: deepskyblue;
    position: relative;
    bottom: 0px;
    top: 5px;
    left: 50px;
    font-weight: bold;
}

.students {
    position: relative;
    left: 50px;
}

.main {
    position: relative;
    left: 50px;
    margin-top: 80px;
}

#kereso {
    margin-left: 50px;
    background-color: gray;
    height: 20px;
}

#searchfor {
    margin-left: 50px;
    margin-top: 80px;
    color: gray;
}

#iconStud {
    margin-left: 50px;
    display: inline;
    margin-left: 100px;
}

#stud {
    margin-left: 10px;
    margin-top: 80px;
    font-weight: bold;
    padding: 0;
    margin-right: 0;
    display: inline-block;
}

#gomb {
    margin-left: 15px;
    display: inline-block;
    top: 10px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

#prof {
    margin-left: 500px;
    height: 20px;
    width: 20px;
    top: 10px;
    margin-right: 0;
}

#btnyellow {
    color: orange;
    display: inline-block;
    margin-left: 800px;
    background-color: rgb(169, 169, 169);
    border-radius: 20%;
}

#btn {
    color: fff;
    display: inline-block;
    background-color: rgb(169, 169, 169);
    border-radius: 20%;
}

#filter {
    margin-left: 50px;
    margin-top: 80px;
    color: gray;
}

.checkb {
    margin-left: 50px;
    display: block;


}

#check {
    display: inline;
    margin-left: 50px;
}

.table {
    display: block;
    margin-left: 500px;
    border-spacing: 50px;
}



span {
    color: orange
}

#prof1 {
    width: 50px;
    height: 20px;
    border-radius: 90%;
}

.left {
    text-align: right;
}

.saf {
    font-size: 50px;
    margin-left: 130px;
    font-weight: bold;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

.saaf {
    font-size: 20px;
    display: inline;
    margin-left: 130px;
    color: rgb(93, 92, 92);
}